# **BEFORE YOU START**
## **Step 1** - Open up your Google Drive and create a new folder named Colab Notebooks
## **Step 2** - Open a Google Colab Notebook and insert it into your new Colab Notebooks file
## **Step 3** - Now download the Global Coral Bleaching Data set as a csv file by clicking on this link: https://www.bco-dmo.org/dataset/773466/data/view and pressing download
### _**Note**: Make sure to download the dataset as a csv file!_
## **Step 4** - Open your Colab Notebooks folde rin your drive and insert the Global Coral Bleaching csv file.

# **Part 1 - Import and mount your Google Drive**
### _Purpose: This step connects you Google Colab notebook to your Google Drive allowing you to access files stored in your Drive allowing you to import and edit these files_
## **Step 1** - Run the exact code below
## **Step 2** - Press the _Ctrl_ button on your keyboard and click on the red link created _('/content/gdrive')_
## **Step 3** - Your Google Drive will show up the left hand side of the screen in a folder where you can click and arrow and access any file in your Drive to import

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# **Part 2 - Import Pandas and Numpy**
### _Purpose: Pandas provides high-performance data strcutres that allow you to analyze and clean tabular data and Numpy allows you to use numerical operations on tabular data_
## **Step 1** - Copy the exact code below

In [3]:
import pandas as pd
import numpy as np

# **Part 3 - Importing a CSV File**
### _Purpose: This code imports a CSV file from your Google Drive and allow you to store it as a pandas DataFrame so you can analyze and edit/clean it_
## **Step 1** - Give your CSV file a nickname so you can easily use it _(I called it turtle in the code below)_
## **Step 2** - After you type the nickname for your CSV file type the following code: **=pd.read_csv**
## **Step 3** - Next type an outward facing paranthese followed by a single quotation mark
## **Step 4** - Inside the paranthese and quotation marks type the following code: **gdrive/My Drive/Colab Notebooks/**
## **Step 5** - After the last slash click the files button on the left hand toolbar (it is the one at the bottom that is shaped like a file) and click on _MyDrive_ and locate the CSV file you want to import and type the exact name after the last slash.
## **Step 6** - Make sure that you type the exact name of the CSV file and followed by a single quotation mark that is followed by an inward facing parantheses to close the sequence of code.

In [4]:
turtle=pd.read_csv('gdrive/My Drive/Colab Notebooks/global_bleaching_environmental.csv')

<ipython-input-4-397f08849943>:1: DtypeWarning: Columns (13,15,24) have mixed types. Specify dtype option on import or set low_memory=False.
  turtle=pd.read_csv('gdrive/My Drive/Colab Notebooks/global_bleaching_environmental.csv')

# **Part 4 - Filtering the Atlantic Data**
### _Purpose: This code will take the raw global bleaching data and separate all the data from the Atlantic_
## **Step 1** - Type your given nickname for the global bleaching csv file from above and type it followed by an outward facing square bracket
## **Step 2** - Type your given nickname for the global bleaching csv file from above again followed by another outward facing square bracket
## **Step 3** - In double Quotation marks type _Ocean_Name_ which will isolate the data from the Ocean_Name column of the raw dataset
## **Step 4** - Type an inward facing square bracket to close the _"Ocean_Name"_ part of the code (Make sure that Ocean_Name is inside double quotations)
## **Step 5** - Type 2 equal signs followed by another double quotation mark, the word _Atlantic_ followed by another double quotation mark
## **Step 6** - Close the code sequences with an inward facing square bracket

In [5]:
turtle[turtle["Ocean_Name"]=="Atlantic"]

,Site_ID,Sample_ID,Data_Source,Latitude_Degrees,Longitude_Degrees,Ocean_Name,Reef_ID,Realm_Name,Ecoregion_Name,Country_Name,...,TSA_FrequencyMax,TSA_FrequencyMean,TSA_DHW,TSA_DHW_Standard_Deviation,TSA_DHWMax,TSA_DHWMean,Date,Site_Comments,Sample_Comments,Bleaching_Comments
0,2501,10324336,Donner,23.1630,-82.5260,Atlantic,nd,Tropical Atlantic,Cuba and Cayman Islands,Cuba,...,5,0,0,0.74,7.25,0.18,2005-09-15,nd,nd,nd
2,1794,10323866,Donner,18.3690,-64.5640,Atlantic,nd,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United Kingdom,...,7,0,0,1.04,11.66,0.26,2006-01-15,nd,nd,nd
3,8647,10328028,Donner,17.7600,-64.5680,Atlantic,nd,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United States,...,4,0,0,0.75,5.64,0.2,2006-04-15,nd,nd,nd
4,8648,10328029,Donner,17.7690,-64.5830,Atlantic,nd,Tropical Atlantic,Hispaniola Puerto Rico and Lesser Antilles,United States,...,5,0,0,0.92,6.89,0.25,2006-04-15,nd,nd,nd
5,2180,10324021,Donner,9.8220,-75.8910,Atlantic,nd,Tropical Atlantic,Netherlands Antilles and south Caribbean,Colombia,...,11,2,2.21,1.47,14.4,0.64,2005-08-15,nd,nd,nd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40398,8815,10320361,Reef_Check,26.7095,-80.0286,Atlantic,80.01.715W.26.42.568N,Tropical Atlantic,Bahamas and Florida Keys,United States,...,5,0,0,0.78,4.71,0.23,1998-08-01,nd,nd,nd
40399,8815,10320362,Reef_Check,26.7095,-80.0286,Atlantic,80.01.715W.26.42.568N,Tropical Atlantic,Bahamas and Florida Keys,United States,...,5,0,0,0.78,4.71,0.23,2000-08-19,nd,nd,nd
40400,8815,10320362,Reef_Check,26.7095,-80.0286,Atlantic,80.01.715W.26.42.568N,Tropical Atlantic,Bahamas and Florida Keys,United States,...,5,0,0,0.78,4.71,0.23,2000-08-19,nd,nd,nd
40401,8817,10316769,Reef_Check,26.7133,-80.0211,Atlantic,26N80W1,Tropical Atlantic,Bahamas and Florida Keys,United States,...,5,0,1.91,0.78,4.71,0.23,1997-08-24,nd,nd,nd
40402,8817,10316769,Reef_Check,26.7133,-80.0211,Atlantic,26N80W1,Tropical Atlantic,Bahamas and Florida Keys,United States,...,5,0,1.91,0.78,4.71,0.23,1997-08-24,nd,nd,nd

# **Part 5 - Putting the Atlantic Ocean data into a subset**
### _Purpose: This part will allow you to manipulate just the data from the Atlantic Ocean._
## **Step 1** - Create a nickname for the subset of the data and then type an underscore followed by the word _Subset_ (I chose to name it Atlantic_Subset
### _**Note**: You cannot include any spaces, you have to type an underscore instead_
## **Step 2** - Type a space followed by a single equal sign and another space
## **Step 3** - Copy the exact code from above after the space

In [8]:
Atlantic_Subset = turtle[turtle["Ocean_Name"]=="Atlantic"]

# **Part 6 - Create another subset that filters the data based on the mean temperature from each site**
### _Purpose: This part will give you another subset of data that contains only the site that have a mean temperature over 302.15 degrees Kevlin or 29 degrees Celsius, which is the maximum temperature most coral can survive in._
## **Step 1** - Create a nickname for this second subset followed by an underscore and the word _Subset_ (I called mine TooHotAtlantic_Subset)
## **Step 2** - Type a space then an equal sign followed by another space
## **Step 3** - Type the nickname you created for the Atlantic Subset after the last space followed by an outward facing square bracket
## **Step 4** - Type the nickname you created for the Atlantic subset again followed by another outward facing bracket
## **Step 5** - Type a double quotation mark followed by _Temperature_Mean_ which is the name for the column of the Atlantic Subset containing the mean temperature of the site followed by another double quoation mark
## **Step 6** - Type an inward facing bracket followed by greater than sign and an equal sign right after (it should look like this: **>=**)
## **Step 7** - Type a double quotation mark followed by _302.15_ and another double quotation mark
## **Step 8** - Close the code sequence with an inward facing bracket

In [10]:
TooHotAtlantic_Subset = Atlantic_Subset[Atlantic_Subset["Temperature_Mean"]>="302.15"]

# **Part 8 - Turning the second subset into a csv file**
### _Purpose: This will allow you to save the second subset as a csv file that you can save and send_
## **Step 1** - Type the nickname you created for the second subset followed by an underscore the word _Subset_
## **Step 2** - Type a period followed by the word _to_ and an underscore followed by _csv_ (It should look like this: **.to_csv**)
## **Step 3** - Type an outward facing paranthese followed by a double quotation mark and then type your nickname for the second subset
## **Step 4** - Now type a period followed by _csv_
## **Step 5** - Type another double quotation mark followed by a comma
## **Step 6** - Type a space followed by the word _index_
## **Step 7** - type an equal sign followed by the word _False_ and an inward facing paranthese after
### _**Note**: the F in false should be capitalized_

In [7]:
TooHotAtlantic_Subset.to_csv("TooHotAtlantic_Subset.csv", index=False)

# **Now you should have a cleaned subset of you data that shows the data points int he Atlantic with a mean temperature that is fatal for coral, leading to coral bleaching.**
## _**Note**: If you want to write out more code you need to rerun all of the previous code by pressing the play button next to it_